<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fehler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{error.name}} - {{error.code}}</h1>
        <p class="error-message">{{ error.description }}</p>
        <div class="top-buttons">
            <a href="{{ url_for('home') }}" class="button">Back to home</a>
        </div>
    </div>
</body>
</html>
